// Global styles
@import "global/reset";
@import "global/theme";
@import "global/fonts";
@import "global/typography";
@import "global/styles";

// Composition (layout)
@import "composition/layout";
@import "composition/links";

// Utilities (mixins/helpers)
@import "utilities/mixins";

// Blocks (sections/components)
@import "blocks/logomark";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/footer";
@import "blocks/about";
@import "blocks/guidelines";
@import "blocks/contribute";
@import "blocks/profile";
@import "blocks/files";

