// Global styles
@import "global/_reset";
@import "global/_theme";
@import "global/_fonts";
@import "global/_typography";
@import "global/_styles";

// Utilities (mixins/helpers)
@import "utilities/_mixins";

// Composition (layout)
@import "composition/_layout";
@import "composition/_links";

// Blocks (sections/components)
@import "blocks/_block-quote";
@import "blocks/_dimension-box";
@import "blocks/_feature-box";
@import "blocks/_footer";
@import "blocks/_header";
@import "blocks/_nav";
@import "blocks/_skip-link";