.dimension-line {
    position: relative;
    height: 1px;
    background: $line-blue;
    margin: 30px 0;
  
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 1px;
      height: 10px;
      background: $line-blue;
      top: -5px;
    }
  
    &::before {
      left: 0;
    }
  
    &::after {
      right: 0;
    }
}