footer {
  border-top: 2px solid $line-blue;
  padding: 60px 0;
  text-align: center;
  margin-top: 80px;
  position: relative;

  p {
    margin: 10px 0;
    font-size: 0.9rem;
    color: $line-blue;
  }

  a {
    margin: 0 15px;
  }
}