footer {
  border-top: 2px solid $line-blue;
  padding: 60px 0;
  text-align: center;
  margin-top: 80px;
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border: 2px solid $line-blue;
  }

  &::before {
    top: -2px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: none;
  }

  &::after {
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    border-top: none;
  }

  p {
    margin: 10px 0;
    font-size: 0.9rem;
    color: $line-blue;
  }

  a {
    margin: 0 15px;
  }
}