// Header
header {
  padding: 100px 0;
  text-align: center;
  position: relative;
  border-bottom: 2px solid var(--line-blue);
  margin-bottom: 60px;

  // Corner brackets
  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid var(--line-blue);
  }

  &::before {
    top: 20px;
    left: 20px;
    border-right: none;
    border-bottom: none;
  }

  &::after {
    bottom: 20px;
    right: 20px;
    border-left: none;
    border-top: none;
  }
}